[Unit]
Description=Run Syspilot every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true
AccuracySec=1s
Unit=syspilot.service

[Install]
WantedBy=timers.target
